.sign {
  background-color: #9a6634;
  border: solid 6px #d0b27e;
  padding: 15px 20px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.card {
  background-color: #393e46;
  border-top: solid 5px #00adb5;

  margin-top: 5%;
  padding: 20px 25px;
  width: 500px;
  box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.3);
  border-radius: 10px;
}

.title {
  text-align: center;
  color: #eeeeee;
}

.board {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 20px;

  overflow: hidden;

  background-color: #eeeeee;
  border-radius: 10px;

  width: 500px;
  height: 500px;

  cursor: pointer;
}

.board > div {
  height: 165px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  /*Setup inner borders for the board*/

  border-right: 2px solid #00adb5;
  border-bottom: 2px solid #00adb5;
}

.board > div > h2 {
  margin: 0;

  font-size: 40px;
  font-family: 'Syne Tactile', sans-serif, cursive;
}

/*Select every 3rd child*/
.board > div:nth-child(3n) {
  border-right: none;
}

/*Select all divs before 6th child*/
.board > div:nth-child(6n) ~ div {
  border-bottom: none;
}
